.timeline-inverse.app-livelist:before {
    position: absolute;
    content: '';
    left: 50%;
    top: 0;
    margin-left: -2px;
    width: 4px;
    height: 100%;
    background-color: rgba(0,0, 0, 0.09);
}
.timeline-inverse ul li:nth-child(odd) .panel.column-right {
    right: 58.33333333%;
}
.timeline-inverse ul li:nth-child(even) .column-left {
    text-align: right;
}
.timeline-inverse ul li:nth-child(odd) .column-left {
    left: 58.33333333%;
    text-align: left;
}